/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.nextflow.log.4
/.nextflow.log.5
/.nextflow.log.6
/.nextflow.log.7
/.nextflow.log.8
/.nextflow.log.9
/list_of_files.csv
/mag_test
/results
/results_most_prev
/results_prev
/test_channels.nf
/work
/workflow.nf
/MIDAS2/
conda_env_check.nf
midas2_UnO.yml
null/my_midasdb_uhgg/md5sum.json
null/my_midasdb_uhgg/genomes.tsv
null/my_midasdb_uhgg/markers/phyeco/phyeco.fa
.gitignore
null/my_midasdb_uhgg/markers/phyeco/phyeco.fa.header
null/my_midasdb_uhgg/chunks
null/my_midasdb_uhgg/markers_models/phyeco/marker_genes.hmm
null/my_midasdb_uhgg/markers/phyeco/phyeco.fa.bwt
null/my_midasdb_uhgg/markers/phyeco/phyeco.fa.sequence
null/my_midasdb_uhgg/markers_models/phyeco/marker_genes.mapping_cutoffs
null/my_midasdb_uhgg/markers/phyeco/phyeco.map
null/my_midasdb_uhgg/markers/phyeco/phyeco.fa.sa
CheckM/checkm.log
checkm.log
CheckM/lineage.ms
CheckM/bins/MaxBin2.001/genes.faa
CheckM/bins/MaxBin2.001/genes.gff
CheckM/bins/MaxBin2.001/hmmer.analyze.txt
CheckM/bins/MaxBin2.001/hmmer.tree.txt
CheckM/bins/MaxBin2.002/genes.faa
CheckM/bins/MaxBin2.002/genes.gff
CheckM/bins/MaxBin2.002/hmmer.analyze.txt
CheckM/bins/MaxBin2.002/hmmer.tree.txt
CheckM/storage/bin_stats_ext.tsv
CheckM/storage/bin_stats.analyze.tsv
CheckM/storage/bin_stats.tree.tsv
CheckM/storage/checkm_hmm_info.pkl.gz
CheckM/storage/marker_gene_stats.tsv
CheckM/storage/phylo_hmm_info.pkl.gz
CheckM/storage/aai_qa/MaxBin2.001/PF02405.11.masked.faa
CheckM/storage/aai_qa/MaxBin2.001/PF05494.7.masked.faa
CheckM/storage/aai_qa/MaxBin2.001/PF13145.1.masked.faa
CheckM/storage/aai_qa/MaxBin2.001/PF13466.1.masked.faa
CheckM/storage/aai_qa/MaxBin2.001/TIGR00367.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00368.13.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00401.15.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00406.17.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00459.20.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00749.16.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF00924.13.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF01071.14.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF01197.13.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF01553.16.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF01784.13.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF02527.10.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF02823.11.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF02843.11.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF06969.11.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF10458.4.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/PF13604.1.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/TIGR00503.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/TIGR00651.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/TIGR01173.masked.faa
CheckM/storage/aai_qa/MaxBin2.002/TIGR02151.masked.faa
CheckM/storage/tree/concatenated.fasta
CheckM/storage/tree/concatenated.pplacer.json
CheckM/storage/tree/concatenated.tre
CheckM/storage/tree/PF00164.20.masked.faa
CheckM/storage/tree/PF00177.16.masked.faa
CheckM/storage/tree/PF00181.18.masked.faa
CheckM/storage/tree/PF00189.15.masked.faa
CheckM/storage/tree/PF00203.16.masked.faa
CheckM/storage/tree/PF00237.14.masked.faa
CheckM/storage/tree/PF00238.14.masked.faa
CheckM/storage/tree/PF00252.13.masked.faa
CheckM/storage/tree/PF00276.15.masked.faa
CheckM/storage/tree/PF00281.14.masked.faa
CheckM/storage/tree/PF00297.17.masked.faa
CheckM/storage/tree/PF00298.14.masked.faa
CheckM/storage/tree/PF00312.17.masked.faa
CheckM/storage/tree/PF00318.15.masked.faa
CheckM/storage/tree/PF00333.15.masked.faa
CheckM/storage/tree/PF00366.15.masked.faa
CheckM/storage/tree/PF00380.14.masked.faa
CheckM/storage/tree/PF00410.14.masked.faa
CheckM/storage/tree/PF00411.14.masked.faa
CheckM/storage/tree/PF00466.15.masked.faa
CheckM/storage/tree/PF00562.23.masked.faa
CheckM/storage/tree/PF00572.13.masked.faa
CheckM/storage/tree/PF00573.17.masked.faa
CheckM/storage/tree/PF00623.15.masked.faa
CheckM/storage/tree/PF00673.16.masked.faa
CheckM/storage/tree/PF00687.16.masked.faa
CheckM/storage/tree/PF00831.18.masked.faa
CheckM/storage/tree/PF00861.17.masked.faa
CheckM/storage/tree/PF01192.17.masked.faa
CheckM/storage/tree/PF01509.13.masked.faa
CheckM/storage/tree/PF02978.14.masked.faa
CheckM/storage/tree/PF03719.10.masked.faa
CheckM/storage/tree/PF03946.9.masked.faa
CheckM/storage/tree/PF03947.13.masked.faa
CheckM/storage/tree/PF04560.15.masked.faa
CheckM/storage/tree/PF04561.9.masked.faa
CheckM/storage/tree/PF04563.10.masked.faa
CheckM/storage/tree/PF04565.11.masked.faa
CheckM/storage/tree/PF04997.7.masked.faa
CheckM/storage/tree/PF05000.12.masked.faa
CheckM/storage/tree/PF11987.3.masked.faa
CheckM/storage/tree/pplacer.out
CheckM/storage/tree/TIGR00344.masked.faa
CheckM/storage/tree/TIGR00422.masked.faa
