/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.nextflow.log.4
/.nextflow.log.5
/.nextflow.log.6
/.nextflow.log.7
/.nextflow.log.8
/.nextflow.log.9
/list_of_files.csv
/test_channels.nf
/work
/workflow.nf
/MIDAS2/
conda_env_check.nf
midas2_UnO.yml
null/
checkm.log
MIDAS2_sing/
singulairty_wf.txt
checkm_qa.tsv
test_collect.nf
megahit_resoruces.sh
UnO_HPC.sh
/results_multi/
/results_multi_bin_mapping/
/alabama_UnO_results/
/colorado_UnO_results/
packages.txt
