/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.nextflow.log.4
/.nextflow.log.5
/.nextflow.log.6
/.nextflow.log.7
/.nextflow.log.8
/.nextflow.log.9
/list_of_files.csv
/mag_test
/results
/results_most_prev
/results_prev
/test_channels.nf
/work
/workflow.nf
/MIDAS2/
conda_env_check.nf
midas2_UnO.yml
null/
CheckM/
checkm.log
CheckM_Tab/
CheckM_Tab2/
MIDAS2_sing/
singulairty_wf.txt
checkm_qa.tsv
test_collect.nf
/results_multi/
/results_multi_first_attempt/
megahit_coass_test.e13109621
megahit_coass_test.o13109621
megahit_resoruces.sh
megahit_coass_test.pe13110188
megahit_coass_test.e13110195
