//nextflow.config
profiles {
  conda {
    conda.enabled = true
    process.conda = "$HOME/UnO_nf/UnO.yml"
  }
  singularity {
    singularity.enabled = true
  }
  sge {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }
}
