//nextflow.config
profiles {
  conda {
    conda.enabled = true
    process {
      withLabel: 'UnO'{
        conda = "/scicomp/home-pure/uel3/.conda/envs/UnO-nf"
      }
      withLabel: 'dastool'{
        conda = "/scicomp/home-pure/uel3/.conda/envs/das_tool" 
      }
      withLabel: 'midas2' {
        conda = "/scicomp/home-pure/uel3/.conda/envs/midas_changed"
      }
    }
  }
  singularity {
    singularity.enabled = true
  }
  sge {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }
}
