//nextflow.config
profiles {
  conda {
    conda.enabled = true
    process {
      withName: DASTOOL_CONTIG2BIN{
        conda = "/scicomp/home-pure/uel3/.conda/envs/das_tool" 
      }
      withName: DASTOOL_BINNING{
        conda = "/scicomp/home-pure/uel3/.conda/envs/das_tool" 
      }
      withName: MIDAS2_DB_BUILD{
        conda = "/scicomp/home-pure/uel3/.conda/envs/midas_changed"
      }
      withName: MIDAS2_SPECIES_SNPS{
        conda = "/scicomp/home-pure/uel3/.conda/envs/midas_changed"
      }
      withName: MIDAS2_PARSE{
        conda = "/scicomp/home-pure/uel3/.conda/envs/midas_changed"
        }
      }
    }
  singularity {
    singularity.enabled = true
  }
  sge {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }
}
