/*
========================================================================================
    NF-CORE CDC Custom Config File
========================================================================================
    Default config options for SciComp compute environments
----------------------------------------------------------------------------------------
*/

params {

  config_profile_description = 'CDC SciComp SGE config for Aspen and Rosalind clusters'
  config_profile_contact     = 'scbs@cdc.gov'
  config_profile_url         = 'https://info.biotech.cdc.gov/'

}

/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/

timeline {
  enabled = true
  file    = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}
trace {
  enabled   = true
  fields    = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file      = "${params.outdir}/trace.txt"
  overwrite = true
}

/*
========================================================================================
    Base Executor config
========================================================================================
*/

executor {
  queueSize = 2
}

/*
========================================================================================
    Profiles - sge,short,gpu,highmem
========================================================================================
*/

env {
    TMPDIR = "$HOME/tmp"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$HOME/singularityIMG"
}

profiles {
  sge {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }

  short {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'short.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }

  gpu {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'gpu.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }

  highmem {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'highmem.q'
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }
}

